@import "tailwindcss";

/* styles/globals.css */
:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --primary-color: #2563eb;
  /* Add more variables as needed */
}

[data-theme='dark'] {
  --bg-color: #000000;
  --text-color: #006400;
  --primary-color: #0cce87;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
