@import "tailwindcss";

:root {
  /* Core Colors */
  --background: #0A0A0A;       /* Primary dark background */
  --foreground: #EDEDED;       /* Light text color */
  --primary: #00aa7f;          /* Deep emerald green accent */
  --secondary: #05472A;        /* Dark forest green (text/accent) */
  --accent: #23d997;           /* Neon green (optional success state) */

  /* UI Colors */
  --button-bg: #05472A;
  --button-hover: #006c45;
  --border: #3c3b3b;
  --muted: #313131;
  --card-bg: #111111;
  --shadow: rgba(0, 0, 0, 0.4);
}

body {
background: linear-gradient(to bottom right, #0a0a0a, #111827, #1f2937);
  max-width: 1540px;
  margin: 0 auto;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}



@keyframes fadeIn {
  from{
    opacity:0;
    transform: translateX(20px);
  }
  to {
    opacity:1;
    transform: translateX(0);
  }
  
}

@keyframes spin-dot {
  0% {
    transform: rotate(0deg) translateY(-90%) translateX(-50%);
  }
  100% {
    transform: rotate(360deg) translateY(-90%) translateX(-50%);
  }
}

.animate-spin-dot {
  animation: spin-dot 2s linear infinite;
}
